/* Fonts */

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-VariableFont_wght.ttf");
  font-weight: 100 200 300 400 500 600 700 900;
}

@font-face {
  font-family: "Integral CF";
  src: url("fonts/Integral\ CF\ Regular.ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Integral CF";
  src: url("fonts/Integral\ CF\ Bold.ttf");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

/* div{
    height: 100%;
    width: 100%;
    overflow: hidden;
        object-fit: contain;

}
img{
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: contain;
} */

:root {
  --font-title: "Integral CF", sans-serif;
  --color-primary: #f7941d;
}

body {
  width: 100%;
  box-sizing: border-box;
  margin: 0 !important;
  text-align: center;
  color: var(--color-primary);
  font-family: "Integral CF", sans-serif;
  background-image: url(imgs/bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}
span {
  font-family: "Montserrat", sans-serif;

  width: 100%;
  display: flex;
  /* overflow: hidden; */
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 2rem !important;
  margin: 0;
  padding: 0 !important;
  font-size: 2rem;
  height: fit-content;
  display: flex;
  /* max-width: 20em; */
  /* background-color: blue; */
  align-items: center;
  /* justify-content: center; */
  /* overflow: hidden; */
  /* height: 100%; */
  width: 100%;
}

.text-contact {
  gap: 0.8rem;
  color: white;
  font-weight: 600;
  display: flex;
  height: 100%;

  height: fit-content;
  width: 100%;
  text-align: center;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* min-height: fit-content; */
}

.text-contact-highlight {
  color: var(--color-primary);
}

.contact-icon {
  width: 100%;
  height: auto;
  display: flex;
  aspect-ratio: 1/1;
  transition: all;
  max-width: 2rem;
  transition: ease-in-out;
  transition-duration: 100ms;
}

.contact-icon:hover {
  scale: 110%;
  filter: brightness(90%);
}

.img-contact-icon {
  display: flex;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.contact-icons {
  display: flex;
  gap: 2rem;
  width: 100%;
  justify-content: center;
  height: auto;
  width: 100%;
  min-height: 2rem;
}

.content {
  text-align: center;
  padding: 1rem;
  box-sizing: border-box;
 height: 100vh;
  /* background-color: red; */
  display: flex;
  align-items: center;

  justify-content: center;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  /* object-fit: contain; */
  /* padding: 20rem; */
  display: flex;
  overflow: hidden;
  /* aspect-ratio: 1/1; */
}

.content-wrapper {
  /* background-color: red; */
  /* padding: 1rem; */
  display: flex;
  width: 100%;
  height: fit-content;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  /* background-color: green; */
}

.footer {
  font-size: 11px;
  text-align: right;
  box-sizing: border-box;
  background-color: black;
  width: 100%;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* overflow: hidden; */
  color: white;
}

.logo {
  width: 100%;
  max-width: 6rem;
}

.footer-item-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-contact-phone {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.imgs-wrapper {
  display: flex;
  height: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex-direction: column;
box-sizing: border-box;
width: 100%;
  /* background-color: yellow; */
}
#content-desk {
  display: hidden;
}
.img {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  /* max-height: 25rem; */
  object-fit: contain;
  aspect-ratio: 1;
  padding: 1em;
}
.selo {
  display: none;
}

#content {
  background-image: url(imgs/content);
}

.brush {
  aspect-ratio: unset;
  max-width: 14em;
  height: fit-content;
}

.footer-item-wrapper {
  display: flex;
  width: 100%;
  gap: 0.3rem;
  align-items: start;
  justify-content: center;
  text-align: left;
}
.footer-item-text-wrapper {
  margin: 0;
  width: fit-content;
}
.footer-item-icon {
  width: 1.5rem;
  height: auto;
}

.footer-item-text {
  justify-content: start;
}
.footer-itens {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.card {
  /* width: 300px; */
  /* overflow: visible !important; */
  perspective: 1000px;
}

.card img {
  /* width: 100%; */
  transition: transform 0.3s ease;
  transform-style: preserve-3d;
}

@media screen and (min-width: 768px) {

  h1 {
    font-size: 3rem !important;
    width: fit-content;
  }
  span {
    display: flex;

    justify-content: center;
    align-items: center;
  }
  body {
    background-image: url(imgs/bg-desk.webp);
  }
  .content {
    gap: 2rem;
  }
  .content-wrapper {
    flex-direction: row;
    gap: 2rem;
  }
  .selo {
    display: flex;
  }
  .text-contact {
    width: fit-content;
    max-width: 15rem;
    gap: 2rem;
  }
  .imgs-wrapper {
    flex-direction: row;
  }
  .img {
    width: fit-content;
  }

  .brush {
    height: fit-content;
  }

  .logo {
    max-width: 10rem;
    aspect-ratio: unset;
  }


.footer{
    padding: 2rem;
    gap: 3rem;
    flex-direction: row;
     font-size: 14px;
}
.footer-itens {
  gap: 3rem;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.footer-item-icon {
  max-width: 2rem;
}

.footer-item-wrapper {
  width: fit-content;
}
.footer-item-text {
  width: fit-content;
}
.footer-item-text-wrapper {
  width: fit-content;
}

.footer-contact-phone {
  width: fit-content;
}

}